{% extends "cnn_coin/base.html" %}
{% block title %}App{% endblock %}
{% block content %}

<div id="contens">
  <table	width=804 border="2" cellspacing="0">
    <tr >
      <!--<td colspan=2 width=400 height=300 ><img class="preview-img" src={{photo_data}}></img></td>
      <td colspan=2 rowspan=2 align=center width=400 height=300>-->
      <td colspan=2 width=400 height=300 style="text-align: center;"><img class="preview-img" src={{photo_data}}></img></td>
		  <td colspan=2 rowspan=3 align=center width=400 height=300>
        <table border="2" cellspacing="0" width=350 height=280>
          <tr align=center >
            <td colspan=4 bgcolor="#E0E0E0" ><B>{{result}}</B></td>
          </tr>
          <tr align=center >
            <td colspan=4 bgcolor="#E0E0E0" ><B>{{time}}</B></td>
          </tr>
          <tr align=center>
					<td colspan=2><input id="text_box1" type="text"></td>
					<td colspan=2>
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Korea</option>
                <option>Japan</option>
                <option>USA</option>
                <option>Rupee</option>
              </select>
            </div>
            </td>
				  </tr>
        	<tr align=center>
					<td colspan=2><input id="text_box2" type="text"></td>
					<td colspan=2>
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Korea</option>
                <option>Japan</option>
                <option>USA</option>
                <option>Rupee</option>
              </select>
            </div>
            </td>
				  </tr>
        </table>
      </td>
    </tr>
    <tr align=center> 
      <td align=center width=200 height=50 class="choosed">choosed : {{predicted}}</td>
      <td align=center width=200 height=50 class="predict">percentage : {{percentage}}%</td>
	  </tr>

    <form action="{% url 'cnn_coin:predict' %}"  method="post" class="form" enctype="multipart/form-data">
      <tr align=center>
        {% csrf_token %}
        <td align=center width=200 height=50>{{ form.image }}</td>
        <td align=center width=200 height=50><button type="submit" class="btn btn-primary">Predict</button></td>
      </tr>
    </form>
  </table> 
</div>
{% endblock %}