.contents{
    width:700px;
    min-height:300px;
    color : #000000;
    margin-right: auto;
    margin-left : auto;
    margin-top:1.5%; 
    margin-bottom: 1.5%;
    background-color :#ffffff;
    font-size: 1.6em;
    line-height: 1.5em;
    border-radius: 15px;
  }